<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/js/board.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/alarm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!--  js를 jquery와 함께 호출 시 스크립트 실행 순서에 의해 jQuery를 먼저 선언해야 한다. -->

    <title>Twogether</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
<header id="header">
    <h2 id='header-title'>Two Gether</h2>
    <div id="header-profileImage-container"><img id="header-profileImage"></div>
    <div id="alarm-badge"></div>
    <div id="alarm-button">
        <i class="fas fa-bell"></i>
    </div>
    <i id="logout" class="fas fa-sign-out-alt" onclick="logout()"></i>
</header>


<!--알림-->
<div id="alarm-panel" style="display: none">
    <!--        <button id="enable">알림 허용</button>-->
    <div id="alarm-list-container">
        <ul id="alarm-list">
            <!-- 알림 목록 추가되는 영역 -->
        </ul>
    </div>
</div>

<div id="content">
    <div id="userProfile-panel" class="hide">
        <!--프로필 이미지-->
        <img id="panel-profileImage" class="close-userProfile-panel">

        <!--프로필 정보-->
        <div id="userInfo">
            <span>Email:</span>
            <div id="email" class="user-info-item"></div>
            <br><br>

            <span>Nickname:</span>
            <div id='nickname' class="user-info-item"></div>
            <input id="edit-nick-input" class="hide" type="text"/>
            <br><br>

            <span>Introduction:</span>
            <div id='introduction' class="user-info-item"></div>
            <textarea id="edit-intro-input" class="hide"></textarea>

            <!--            <span>Role:</span>-->
            <!--            <div id="role" class="user-info-item"></div>-->
        </div>

        <div id="profileImage-btns" class="hide">
            <button id="save-edit-profileImage-btn" onclick="editProfileImage()">Save
            </button>
            <button id="cancel-profileImage-btn" >Cancel</button>
            <button id="default-profileImage-btn" onclick="defaultProfileImage()" style="width: 78%;">Default</button>
            <div id="upload-profileImage-input-container">
                <input type="file" id="upload-profileImage-input" accept="image/*">
            </div>
        </div>

        <div id="profileInfo-btns">
            <button id="save-edit-userInfo-btn" onclick="editUserInfo()" class="hide" style="margin-left: 0">Save</button>
            <button id="cancel-userInfo-btn" onclick="closeEditUserInfoForm()" class="hide">Cancel
            </button>
        </div><br>

        <button id="change-userInfo-btn">Edit Info</button><br>
        <button id="change-userImage-btn">Edit Image</button><br>
    </div>

    <nav id="nav">
        <ul id="nav-boards">
        </ul>

        <button id="create-workspace" onclick="toggleCreateWorkspace()"><i class="fas fa-plus"></i>
            Create New Workspace
        </button>

        <div id="create-workspace-form" style="display:none">
            <div>
                <label for="workspace-title">Title</label>
                <input type="text" id="workspace-title"/>
            </div>
            <div>
                <label for="workspace-description">Description</label>
                <input type="text" id="workspace-description"/>
            </div>
            <button id="create-workspace-btn" onclick="createWorkspace()">Create</button>
        </div>
    </nav>

    <div class="board-canvas">
        <!--페이지 스크롤바-->
        <div id="board" class="board-canvas-scrollbar">
            <ul id="deck-list" class="deck-list-wrapper"
                ondragover="allowDrop(event)" ondrop="drop(event)">
            </ul>

            <div class="deck-list-content">
                <ul class="deck-list-ul">
                    <li>
                        <div>
                          <span class="placeholder">
                            <button class="add-decklist-button" type="button"
                                    onclick="toggleCreateDeckForm()">
                                <i class="fa-solid fa-plus fa-xl"></i> 덱 추가
                            </button>
                          </span>

                            <div id="create-deck-form" class="add-decklist-form" hidden>
                                <label for="deck-title-input"></label>
                                <input id="deck-title-input" type="text"
                                       name="add-decklist-input"
                                       class="add-decklist-input" placeholder="덱 타이틀을 입력하세요...">
                                <div class="horizontal-align">
                                    <button type="submit"
                                            class="add-decklist-submit default-button"
                                            onclick="createDeck()">
                                        덱 추가
                                    </button>
                                    <a class="cancel-button decklist" href="#"
                                       aria-label="덱 추가 취소" onclick="toggleCreateDeckForm()">
                                        <i class="fa-solid fa-xmark fa-xl"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <!--        <a href="#">About</a>-->
        <!--        <a href="#">Services</a>-->
        <!--        <a href="#">Clients</a>-->
        <!--        <a href="#">Contact</a>-->
        <ul id="archive-container"></ul>
    </div>

    <span class="open-btn" onclick="openNav()">&#9776;</span>
</div>
</body>
</html>