<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twogether</title>
</head>
<body>
<div class="board-main-container">
  <div class="board-canvas">
    <div class="board">
      <div class="deck-container">
        <div class="deck-wrapper">
          <div class="deck">
            <div class="deck-header">
              <h2 class="deck-title">Deck 01</h2>
              <div class="button-deck-setter"></div>
              <div class="setter-deck-hide">
                <button type="button" class="button-deck-archive">archive deck</button>
              </div>
            </div>
            <div class="card-container">
              <div class="add-card">
                <input type="text" class="name-card-new">
                <button type="button" class="submit-deck-new">생성</button>
              </div>
              <div class="card-wrapper">
                <div class="card">
                  <h2 class="card-title">Card 01</h2>
                  <div class="card-label">Label 01</div>
                </div>
              </div>
              <div class="card-wrapper">
                <div class="card">
                  <h2 class="card-title">Card 02</h2>
                  <div class="card-label">Label 01</div>
                </div>
              </div>
              <div class="card-wrapper">
                <div class="card">
                  <h2 class="card-title">Card 03</h2>
                  <div class="card-label">Label 02</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="deck-wrapper">
          <div class="deck">
            <div class="deck-header">
              <h2 class="deck-title">Deck 02</h2>
              <div class="button-deck-setter"></div>
              <div class="setter-deck-hide">
                <button type="button" class="button-deck-archive">archive deck</button>
              </div>
            </div>
            <div class="card-container">
              <div class="add-card">
                <input type="text" class="name-card-new">
                <button type="button" class="submit-deck-new">생성</button>
              </div>
              <div class="card-wrapper">
                <div class="card">
                  <h2 class="card-title">Card 04</h2>
                  <div class="card-label">Label 02</div>
                </div>
              </div>
              <div class="card-wrapper">
                <div class="card">
                  <h2 class="card-title">Card 05</h2>
                  <div class="card-label">Label 01</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-deck">

      </div>
    </div>
  </div>
</div>
</body>
</html>